.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}





body {
  background-color: #D3D9D4;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin: 0px;
}

p {
  font-size: 15px;
}

ul {
  margin-top: -8px;
}

li {
  font-size: 15px;
}





/* -------------------- CLASS: EVERY PAGE -------------------- */

.nav_item {
  font-size: 15px;
  color: white;
  text-decoration: none;

  vertical-align: middle;

  margin-right: 10px;
  padding-right: 20px;
  padding-left: 10px;
}

/* -------------------- CLASS: PROJECTS PAGE -------------------- */

.project {
  width: fit-content;
  height: fit-content;
  overflow: auto;
  border-radius: 10px;

  margin-bottom: 10px;

  background-color: #124E66;
  color: #FFFFFF;
}

.video {
  border: solid 2px #D3D9D4; 

  float: left;
  margin: 10px;
  margin-right: 0px;
  vertical-align: middle;
}

.project_github {
  height: 20px;
}





/* -------------------- ID: EVERY PAGE -------------------- */

#Nav_Bar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;

  background-color: #212A31;

  padding: 15px;
}

#LinkedIn {
  height: 15px; 

  vertical-align: middle;
  
  margin-right: 10px;
  padding-right: 20px;
  border-right: 1px solid #748D92;
}

#GitHub {
  height: 15px; 

  vertical-align: middle;
  
  margin-right: 10px;
  padding-right: 20px;

  border-right: 1px solid #748D92;
}

/* -------------------- ID - ABOUT ME PAGE -------------------- */

#Headshot {
  display: block;
  margin: auto;
  margin-top: 55px;

  width: 300px;
  border: 0.5vw solid #124E66;
}

#Introduction_Text {
  width: 95vw;
  margin: auto;
  text-align: center;

  color: #212A31;
}

#About_Me_Text {
  width: 95vw;
  margin: auto;

  color: #212A31;
}

/* -------------------- ID: PROJECTS PAGE -------------------- */

#Projects {
  margin-top: 58px;
}

#Project_Description {
  float: left;
  margin: 10px;
  margin-left: 20px;
  
  height: 315px;
  width: calc(100vw - 620px);
}